* {
    font-family: sans-serif;
}

.display {
    border: 2px solid black;
    width: 300px;
    height: 30px;
    font-size: 25px;
    text-align: right;
    vertical-align: center;
    background-color: rgb(177, 206, 216);
    border-radius: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.container {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #508ba0;
    border-radius: 10px;
}

.calculator {
    height: 120px;
    width: 320px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3e3e9;
}